html {
    font-family: "Fira Sans", sans-serif;
}


.banner {
    height: 100vh;
    background-image: url(../images/wood-two.jpg);
    background-size: cover;
}

body {
    margin: auto;
}


.top-logo {
    width: 70%;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .7;
    z-index: 2;
}

.intro-p {
    font-weight: 300;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-bottom: 20%;
    position: absolute;
    top: 2rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%);
    width: 75%;
}

.intro {
    background-image: url(../images/parliament.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.bold {
    color: 
}

.quote {
    padding: 20px;
    width: 50%;
    color: white;
    border: 1px solid white;
    max-width: 4in;
    position: absolute;
    bottom: 4rem;
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%);
}

.sherlock {
    font-weight: 600;
}

.subheader {
    height: 3rem;
    background-color: #40363B;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 5%;
}

.subs {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: 2px;
}

.services {
    margin: 5%;
    max-width: 6in;
}

.name {
    text-transform: uppercase;
    font-weight: 600;
}

.con-info {
    list-style: none;
    padding-top: 5%;
}

.consult {
    padding-top: 5%;
    text-align: center;
}

.contact-info {
    display: block;
    margin: auto;
}

.contact-grid {
    margin: 2% 5% 0 5% ;
}

.invisi-photo {
    display: none;
}

img {
    width: 100%;
}




.foot {
    height: 5%;
    background-image: url(../images/wood-two.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
        overflow: hidden;
}

.copy {
    color: white;
    text-align: center;
    position: relative;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
}

a {
    color: white;
    text-decoration: none;
}


@media only screen and (min-width: 25em) {
   
    
}






@media only screen and (min-width: 38em) {
    
     
    .invisi-photo {
        display: block;
    }
    
    .consult {
    text-align: left;
}
}



@media only screen and (min-width: 60em) {
}



@media only screen and (min-width: 90em) {
}


