html {
    font-family: "Fira Sans", sans-serif;
}


.banner {
    height: 100vh;
    background-image: url(../images/wood-two.jpg);
    background-size: cover;
}

body {
    margin: auto;
}


.top-logo {
    width: 70%;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .7;
}

.define {
    color: #40363B;
    display: block;
    margin: auto;
    max-width: 6in;
}

.intro-p {
    line-height: 38px;
    font-weight: 300;
    color: #40363B;
    display: block;
    margin: auto;
    max-width: 6in;
    padding-bottom: 10%;
}

.intro {
    padding-top: 10%;
    padding-bottom: 10%;
}

.bold {
    color: 
}

.quote {
    padding: 20px;
    width: 50%;
    display: block;
    margin: auto;
    color:#40363B;
    border: 1px solid #40363B;
    max-width: 3.5in;
}

.sherlock {
    font-weight: 600;
}



.foot {
    height: 5%;
    background-image: url(../images/wood-two.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
        overflow: hidden;
}

.copy {
    color: white;
    text-align: center;
    position: relative;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
}